include LICENSE
include README.md
graft docs
graft examples
prune examples/demo-installer/build
prune examples/demo-installer/dist
prune examples/demo-installer/src/demo_agent_skill.egg-info
global-exclude *.py[cod]
